.react-hover-button {
  overflow: hidden;
  position: relative;
  display: block;
  z-index: 1;
  font: 700 1.125em/ 3 trebuchet ms, sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.react-hover-button:hover {
  cursor: pointer;
}
.react-hover-button:before,
.react-hover-button:after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}
