.hover-button-diagonal {
  --p: 0;
  --q: calc(1 - var(--p));
  --maskRotateDeg: 0deg;
  --diagonal: 0px;
  display: block;
  overflow: hidden;
  position: relative;
  border: 1px solid currentColor;
  z-index: 1;
  width: 12em;
  background: #fff;
  color: #000;
  font: 700 1.125em/ 3 trebuchet ms, sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-before,
.btn-after {
  --i: var(--p);
  --j: calc(1 - var(--i));
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: calc(var(--j) * (100% - 12.36932em));
  transform-origin: calc(var(--j) * 100%) calc(var(--i) * 100%);
  box-shadow: 0 0 0 1px currentcolor;
  background: currentcolor;
  color: #ef4654;
  transition: transform 0.5s ease-in-out;
  transform: rotate(var(--maskRotateDeg))
    translate(calc(var(--q) * (1 - 2 * var(--i)) * -105%));
  width: var(--diagonal);
  left: calc(var(--j) * (100% - var(--diagonal)));
  content: "";
}
.btn-after {
  --i: var(--q);
}
.hover-button-diagonal:hover,
.hover-button-diagonal:focus {
  --p: 1;
}

.button--loading {
  position: relative;
  cursor: wait;
  --p: 1;
}
.button--loading:before {
  margin: -13px 0 0 -13px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  border-radius: 24px;
  background-clip: padding-box;
  border: rgba(255, 255, 255, 0.25) 2px solid;
  border-top-color: #fff;
  animation: animation-rotate 750ms linear infinite;
}
.button--loading span,
.button--loading:hover span,
.button--loading:active span {
  color: transparent;
  text-shadow: none;
}
@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
