body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #333;
}

// .react-hover-btn {
//   overflow: hidden;
//   display: block;
//   text-decoration: none;
//   text-transform: uppercase;
//   color: #000;
// }
